In [1]:
# use this notebook to test interaction with the IEX Test API
import os
import pandas_ta as ta

# IEX - 
# pypi link: https://pypi.org/project/iexfinance/
# requires ENV VAR NAME:  IEX_TOKEN
#
# usage estimates
# Free tier gives user "500K messages" per month
# using IEX API:get_historical_data gives daily results for:  date	open	high	low	close	volume; 
# 5 years worth of data = approx 12,500 messages 

# to use IEX test token, we must use a test-specific API token AND set the IEX API VERSION to a specific string
IEX_TEST_TOKEN = os.environ.get("IEX_TOKEN_TEST")
token = os.environ.get("IEX_TOKEN_TEST")

# set env vars needed to use IEX test API
# `%env` in jupyter lab replaces `export` from terminal
%env IEX_API_VERSION=iexcloud-sandbox
%env IEX_OUTPUT_FORMAT=pandas

from iexfinance.stocks import Stock

aapl = Stock("AAPL", token=IEX_TEST_TOKEN)

env: IEX_API_VERSION=iexcloud-sandbox
env: IEX_OUTPUT_FORMAT=pandas

In [2]:
print(aapl.get_price())

        AAPL
AAPL  194.92

In [3]:
aapl_balance = aapl.get_balance_sheet()
print(aapl_balance)

                                 AAPL
                           2019-04-02
accountsPayable           31797339784
capitalSurplus                   None
commonStock               43510974585
currentAssets            128469872879
currentCash               40074647198
currentLongTermDebt       10870382469
goodwill                            0
intangibleAssets                 None
inventory                  5025032765
longTermDebt              93083886308
longTermInvestments      153022285392
minorityInterest                    0
netTangibleAssets        109562521353
otherAssets               33789036962
otherCurrentAssets        12060064374
otherCurrentLiabilities   41309281572
otherLiabilities           6466730060
propertyPlantEquipment    40274096922
receivables               15484667457
reportDate                 2019-04-02
retainedEarnings          67451943046
shareholderEquity        108042165663
shortTermInvestments      42342759207
totalAssets              356943897244
totalCurrentLiabilities   97006640836
totalLiabilities         243703491807
treasuryStock                    None

In [4]:
aapl.get_insider_summary()

                             AAPL                 \
               aaWnLs Sgey urnnne  . sJallBee mA
fullName       aaWnLs Sgey urnnne  . sJallBee mA
netTransacted                1490           1493
reportedTitle            eDroicrt       etriDcor
totalBought                  2970           2972
totalSold                   -1581          -1539

                                                                               \
                                nsh CKoirdo  re. eiJ lfamEWsyfil  ren aJugdAn
fullName                        nsh CKoirdo  re. eiJ lfamEWsyfil  ren aJugdAn
netTransacted                         -3080              -106311         1467
reportedTitle  ngt rrl icinuifPceiaOAoncfpc                  OCO     riotrDce
totalBought                            7229               110246         3049
totalSold                            -10213              -217720        -1535

                                                                    \
               A onesn.iuvrth DLr  e. oRbAgrtr eI  . uSRl rgDdnaoa
fullName       A onesn.iuvrth DLr  e. oRbAgrtr eI  . uSRl rgDdnaoa
netTransacted              -36390            1458             1449
reportedTitle            riorteDc        ctirroDe         ritDecor
totalBought                 39010            3090             2951
totalSold                  -75297           -1582            -1554

                                                               \
               rorlAeb rGnAoted l                 uaisrecMatL
fullName       rorlAeb rGnAoted l                 uaisrecMatL
netTransacted                1478                     -108813
reportedTitle            Dceirrto  icdreO,tsire PeSnVno FiCe
totalBought                 38109                      109801
totalSold                  -36920                     -210824


                     iDeO nrri'dBeer
fullName             iDeO nrri'dBeer
netTransacted                 312602
reportedTitle  tcniPniiesSVeed ero r
totalBought                   350686
totalSold                     -35858

In [5]:
aapl.get_logo()

                                                  AAPL
url  gheA/tsp/goiLeo/tm//pisoegacaaPgoinsArlptpg/.s...

In [6]:
from iexfinance.altdata import get_social_sentiment
aapl_sentiment = get_social_sentiment("AAPL", period_type="daily", date="2011-06-01", token=IEX_TEST_TOKEN)
print(aapl_sentiment)

/home/chris/0.Surfaceowl/explore_stocks_with_quandl/venv/lib/python3.7/site-packages/iexfinance/altdata/__init__.py:48: UserWarning: UNSTABLE ENDPOINT: Not yet fully implemented by the provider.
  warnings.warn("UNSTABLE ENDPOINT: Not yet fully implemented by the "

Empty DataFrame
Columns: []
Index: []